In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

In [2]:
df = pd.read_csv('casas.csv')

In [3]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [4]:
X = df.drop('preco', axis = 1)
y = df['preco']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.3, random_state = 42)

In [6]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [7]:
model.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [8]:
model.intercept_

-1484640.8721676627

In [10]:
model.predict([[120, 2001, 2]])

array([191436.53503831])

In [11]:
pickle.dump(model, open('model.sav', 'wb'))